@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.search-Container {
  margin-top: 60px;
  height: 50vh;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* border: 2px solid white; */
  padding: 20px;
}

.SearchBar-Heading {
  font-family: "Great Vibes", cursive;
  font-size: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: 0;
  border-right: 3px solid #333;
}


.SearchBar-Heading.animate {
  transition-delay: 0.5s;
  opacity: 1;
  animation:
    typing 4s steps(28, end) forwards,
    blink 2.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.search-bar {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 10px;
}

.search-bar input {
  width: 23rem;
  height: 2.2rem;
  border-radius: 10px;
  border: 0px;
}

.search-bar button {
  border-radius: 10px;
  height: 2.2rem;
  border: 0px;
  font-weight: 10px;
  width: 5rem;
}

.search-bar button:hover {
  cursor: pointer;
  background-color: rgb(2, 96, 96);
  color: white;
}
