footer {
  background-color: rgb(62, 62, 62);
  padding: 20px;
}

.footer-row{
    display: flex;
    color: white;
    justify-content: space-around;
    
}

.column ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
    /* align-items: flex-start; */
    gap: 10px;
    /* border: 2px solid white; */
}

.column ul a{
    color: whitesmoke;
}

.column ul a:hover{
    color: red;
}

.column li{
    border-bottom: 1px solid grey;
}

.footer-bottom{
    margin-top: 55px;
}